// !card detail SCSS
// * default configurition of css for index page
@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto-Regular.woff2") format("woff2"),
    url("/assets/fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Radiance";
  src: url("/assets/fonts/Radiance-Semibold.woff2") format("woff2"),
    url("/assets/fonts/Radiance-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Radiance";
  src: url("/assets/fonts/Radiance.woff2") format("woff2"),
    url("/assets/fonts/Radiance.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Radiance";
  src: url("/assets/fonts/Radiance-Bold.woff2") format("woff2"),
    url("/assets/fonts/Radiance-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Radiance";
  src: url("/assets/fonts/Radiance-Light.woff2") format("woff2"),
    url("/assets/fonts/Radiance-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("Nunito.woff2") format("woff2"), url("Nunito.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@mixin flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
a:link,
a:visited,
a:hover,
a:active {
  color: #ffffff;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  width: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  font-family: "Roboto";
  overflow-y: scroll;
}

.container {
  @include flex-column();
  justify-content: flex-start;
  width: 100%;
  background: url("/assets/background_pattern.png") no-repeat center;
}

// * header
.header {
  @include flex-row();
  justify-content: flex-start;
  width: 100%;
  height: 78px;
  background-color: #000000;
}
.socialmedia {
  width: 310px;
  height: 78px;
  background: url("/assets/socialmedia_icons.png") no-repeat center;
}

.socialmedia-shrink {
  position: fixed;
  height: 50px;
  left: 0;
  top: 0;
  z-index: 3;
}
.logo {
  @include flex-row();
  flex-grow: 2;
  justify-content: center;
  height: 100%;
  background: url("/assets/logo.png") no-repeat center;
  a {
    width: 243px;
    height: 35px;
  }
}

.login {
  @include flex-row();
  justify-content: center;
  font-family: "Radiance";
  height: 100%;
  width: 310px;
  user-select: none;
  color: #bfbfbf;
  font-size: 1.8rem;
  background: url("/assets/steam_logo.png") no-repeat 20px;
  border-left: 1px solid #141414;
  span:nth-child(2) {
    color: #fffefe;
    font-weight: 700;
  }
}
.login:hover {
  background-color: #141414;
  cursor: pointer;
}
.login-shrink {
  height: 50px;
  border: none;
  position: fixed;
  right: -50px;
  top: 0px;
  z-index: 3;
}

// * navbar
.navbar {
  @include flex-row();
  justify-content: center;
  width: 100%;
  height: 66px;
  transition: all 0.3s ease-in-out;
  background-color: #f31738;
  box-shadow: 0px 5px 5px #1a0307;
}
.navbar-shrink {
  position: fixed;
  height: 50px;
  z-index: 2;
  background-color: #000000;
  border-bottom: 2px solid#f31738;
}
.navbar-wrapper {
  @include flex-row();
  justify-content: center;
  min-width: 62.5%;
  height: 100%;
  span {
    width: 100px;
    background: url("/assets/downward_arrow.png") no-repeat right center;
  }
}
.homebtn {
  @include flex-column();
  justify-content: center;
  width: 66px;
  height: 99%;
  background-color: #ffffff;
  margin-right: -66px;
  margin-top: -2.5px;
  z-index: 1;
  a {
    width: 100%;
    height: 100%;
    background: url("/assets/homebtn.png") no-repeat center;
  }
}

.title {
  @include flex-row();
  justify-content: space-around;
  width: 70%;
  height: 100%;
  font-family: "Radiance";
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: #ffffff;
  span {
    cursor: pointer;
  }
  a {
    display: none;
    width: 300px;
    height: 100%;
    background: url("/assets/logo.png") no-repeat center;
  }
}

// *breadcrumb
.breadcrumb {
  @include flex-row();
  width: 1197px;
  margin-top: 19px;
  color: #878787;
  a:link,
  a:visited,
  a:hover,
  a:active {
    color: #878787;
    text-decoration: none;
    font-size: 1.6rem;
  }
}
.body-wrapper {
  @include flex-column();
  background: url("/assets/cards/Card_Detail/Card_Detail_Bg.png") no-repeat;
  width: 1785px;
  font-family: Radiance;
}

// *card board wrapper
.board-wrapper {
  @include flex-column();
  width: 100%;
  background: url("/assets/cards/Card_Detail/Card_Detail_Board.png") no-repeat;
  margin-top: 44px;
}

// *main body
.mainbody {
  @include flex-column();
  justify-content: flex-start;
  width: 1197px;
}
// *card-board
.card-board {
  width: 1192px;
  margin-bottom: 82px;
}

// *card name
.board-title {
  @include flex-row();
  justify-content: space-between;
  width: 100%;
}

.board-name {
  @include flex-row();
  justify-content: flex-start;
  width: 30%;
  height: 43px;
  color: #ffffff;
  font-size: 2.2rem;
  font-weight: 300;
  text-transform: uppercase;
}

.board-colorBean {
  @include flex-column();
  justify-content: center;
  min-width: 65px;
  min-height: 65px;
  margin-left: -53px;
  margin-top: -15px;
  background: url("/assets/cards/Card_Detail/Card_Detail_ColorDock.png")
    no-repeat center;
  z-index: 4;
}

.board-cardName {
  @include flex-row();
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  margin-left: -23px;
  margin-top: 9px;
  padding-left: 37px;
  background: linear-gradient(
    90deg,
    rgba(13, 59, 120, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

// *card likes
.board-likes {
  @include flex-column();
  justify-content: center;
  width: 182px;
  color: #8b8b8b;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 30px;
}
.likes-thumbs {
  @include flex-row();
  width: 100%;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.thumb-wrapper {
  @include flex-row();
  justify-content: flex-start;
  width: 50%;
  span {
    margin-left: 10px;
  }
}
.likes-progressBar {
  border-radius: 3px;
  background-color: #2e2e2e;
  width: 182px;
  height: 7px;
}
.progressBar-thumbUps {
  border-radius: 3px;
  background-color: #414141;
  width: 152px;
  height: 7px;
}

// *card details
.card-detail-wrapper {
  @include flex-row();
  justify-content: center;
  width: 100%;
}
.board-detail {
  @include flex-row();
  justify-content: flex-start;
  width: 100%;
  height: 400px;
  margin: 35px 30px;
}
.board-cardImg {
  transition: all 0.2s ease-in-out;
}
.board-cardImg:hover {
  -webkit-box-shadow: 0px 0px 39px 8px rgba(31, 37, 110, 1);
  -moz-box-shadow: 0px 0px 39px 8px rgba(31, 37, 110, 1);
  box-shadow: 0px 0px 39px 8px rgba(31, 37, 110, 1);
}
.board-cardInfo {
  @include flex-column();
  justify-content: space-between;
  align-items: flex-start;
  flex-grow: 2;
  height: 100%;
  margin-left: 50px;
}
.cardInfo-title {
  @include flex-row();
  justify-content: flex-start;
  width: 100%;
}
.cardInfo-color {
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 1);
  color: #0376d7;
  font-size: 2.2rem;
  margin-right: 48px;
  p {
    margin: 0;
  }
}
.cardInfo-type,
.cardInfo-rarity {
  @include flex-row();
  justify-content: center;
  height: 46px;
  border-radius: 22px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0 30px;
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 1);
  font-size: 2.2rem;
  font-weight: 300;
  line-height: 30px;
  color: #ffffff;
  margin-right: 30px;
  span:nth-child(2) {
    color: #898989;
  }
}
.cardInfo-cost {
  @include flex-column();
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 77px;
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 1);
  color: #898989;
  font-size: 2.2rem;
  p {
    @include flex-row();
    margin: 4px 0;
    span {
      color: #ffffff;
    }
  }
  .cardInfo-steamPrice {
    color: #ff9000;
  }
}
.cardInfo-ability {
  @include flex-column();
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.cardInfo-boldTag {
  color: #ffffff;
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin: 10px 0;
}
.ability-wrapper {
  @include flex-row();
  justify-content: flex-start;
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 1);
  font-size: 2.2rem;
  font-weight: 300;
}
.ability-text-wrapper {
  @include flex-column();
  justify-content: center;
  align-items: flex-start;
  margin-left: 16px;
  p:nth-child(1) {
    margin: 0;
    font-weight: bold;
    color: #ffffff;
  }
  p:nth-child(2) {
    margin: 0;
    color: #898989;
  }
}
.cardInfo-stats {
  @include flex-column();
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.stats-wrapper {
  @include flex-row();
  justify-content: space-between;
  width: 465px;
}
.cardInfo-attacks,
.cardInfo-armor,
.cardInfo-health {
  @include flex-row();
  justify-content: flex-start;
  align-items: flex-start;
  .stats-digits {
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.75);
    color: #fffefe;
    font-family: Nunito;
    font-size: 4.4rem;
    font-weight: 400;
    margin-left: 16px;
  }
}
.stats-icon {
  @include flex-column();
  justify-content: center;
  height: 75px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.75);
  color: #898989;
  font-size: 2rem;
  font-weight: 300;
  img {
    height: 53px;
  }
}
// *card spells
.card-spells {
  @include flex-column();
  justify-content: flex-start;
  align-items: flex-start;
  color: #ffffff;
  font-size: 2.2rem;
  font-weight: 700;
}

// *price history
.price-history {
  @include flex-column();
  align-items: flex-start;
  margin-top: 70px;
}
.price-title {
  @include flex-row();
  height: 50px;
  width: 100%;
  margin-bottom: 50px;
  justify-content: space-between;
}
.price-title-name {
  p {
    @include flex-row();
    margin: 4px 0;
  }
  p:nth-child(1) {
    color: #ffffff;
    font-size: 2.4rem;
  }
  p:nth-child(2) {
    color: #898989;
    font-size: 1.8rem;
  }
}
.price-title-wrapper {
  @include flex-row();
  justify-content: space-around;
  width: 50%;
}
.price-title-label {
  @include flex-column();
  justify-content: space-around;
  height: 100%;
  div {
    @include flex-row();
    justify-content: flex-start;
    width: 180px;
    color: #9d9d9d;
    font-size: 1.6rem;
  }
  .label-dot {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    margin-right: 10px;
  }
  .blue-dot {
    background-color: #1e2fcc;
  }
  .red-dot {
    background-color: #f31738;
  }
}
.price-title-high,
.price-title-low,
.price-title-current {
  @include flex-column();
  align-items: flex-start;
  justify-content: space-around;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #9d9d9d;
  p {
    margin: 0;
  }
  p:nth-child(2) {
    color: #ffffff;
    font-size: 2.2rem;
  }
}
.price-title-current {
  p:nth-child(2) {
    color: #ff9000;
  }
}

// *bottom news search bar
.search {
  @include flex-row();
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  max-width: 1920px;
  height: 273px;
  background-image: url("/assets/search_bg.png");
  border-bottom: 1px solid #f31738;
}

.search input {
  margin-bottom: 55px;
  width: 695px;
  height: 58px;
  color: #ffffff;
  padding: 0px 20px;
  font-family: Radiance;
  font-size: 1.8rem;
  border: none;
  border-radius: 6px 0 0 6px;
  background-color: rgba(#ffffff, 0.25);
}
.search input:focus {
  outline-color: transparent;
  outline-style: none;
}
::placeholder {
  color: #ffffff;
  opacity: 0.5;
}
.search button {
  margin-bottom: 55px;
  width: 113px;
  height: 58px;
  border-radius: 0 6px 6px 0;
  background-color: #000000;
  cursor: pointer;
  border: none;
  color: #fffefe;
  font-family: Radiance;
  font-size: 18px;
}
.search button:hover {
  background-color: #141414;
}
.search button:focus {
  outline-style: none;
  outline-color: transparent;
}
// *footer
.footer {
  background-color: #0e0e0e;
  width: 100%;
  height: 307px;
}

.sitemap {
  @include flex-row();
  justify-content: center;
  align-items: center;
  font-family: Radiance;
  height: 239px;
}
.sitemap-wrapper {
  @include flex-row();
  justify-content: center;
  margin-left: 40px;
  height: 100%;
}
.sitemap-list {
  @include flex-column();
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 42px 52px 0 52px;
  ul {
    padding: 0;
    margin: 0;
    li {
      list-style-type: none;
      color: #545454;
      font-size: 1.6rem;
      margin-bottom: 10px;
    }
  }
}
.list-title {
  font-size: 2rem;
  color: #8e8e8e;
  margin-bottom: 25px;
}

.sitemap-social {
  @include flex-column();
  justify-content: center;
  height: 100%;
  margin: 0 84px;
  img:nth-child(1) {
    margin-bottom: 26px;
  }
  img:nth-child(2) {
    width: 153px;
  }
}
.copyright {
  @include flex-row();
  justify-content: center;
  width: 100%;
  height: 68px;
  background-color: #000000;
  color: #444444;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
}
