@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Regular.woff2") format("woff2"), url("./assets/fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Radiance";
  src: url("./assets/fonts/Radiance.woff2") format("woff2"), url("./assets/fonts/Radiance.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 62.5%;
  width: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  font-family: "Roboto";
  overflow-y: scroll;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  background-image: url("./assets/background_pattern.png");
  background-repeat: no-repeat;
  background-position: center;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 7.8rem;
  background-color: #000000;
}

.socialmedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100%;
  width: 310px;
}

.socialmedia img {
  width: 180px;
  height: 18px;
  padding-left: 4rem;
}

.socialmedia-shrink {
  position: fixed;
  left: 0;
  top: 15px;
  z-index: 9999999;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.logo img {
  width: 243px;
  height: 35px;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100%;
  width: 310px;
}

.login div {
  height: 100%;
  width: 0.1rem;
  background-color: #141414;
  margin-right: 3.7rem;
}

.login img {
  width: 32px;
  height: 27px;
  margin-right: 1.9rem;
}

.login span {
  color: #bfbfbf;
  font-family: "Radiance";
  font-size: 1.8rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.login span span {
  color: #fffefe;
  font-weight: 700;
}

.login:hover {
  background-color: #141414;
  cursor: pointer;
}

.login-shrink {
  height: 50px !important;
  position: fixed;
  right: -50px;
  top: 0px;
  z-index: 9999999;
}

.login-shrink div {
  display: none !important;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 66px;
  background-color: #f31738;
}

.navbar-shrink {
  position: fixed;
  height: 50px !important;
  z-index: 99999;
}

.navbar-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 62.5%;
  height: 100%;
}

.homebtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 6.6rem;
  height: 99%;
  background-color: #ffffff;
  margin-right: -6.6rem;
  margin-top: -2.5px;
  z-index: 999;
}

.homebtn:hover {
  cursor: pointer;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 70%;
  height: 100%;
  font-family: "Radiance";
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.7rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: #ffffff;
}

.title span:hover {
  cursor: pointer;
}

.slider-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.slider-wrapper .left-arrow,
.slider-wrapper .right-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -200px;
  cursor: pointer;
  height: 50%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.slider-wrapper .left-arrow:hover,
.slider-wrapper .right-arrow:hover {
  background-color: rgba(44, 44, 44, 0.2);
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1600px;
  height: 763px;
  background-image: url("./assets/slider_background.png");
  background-repeat: no-repeat;
}

.slider-banner-leftward {
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.slider-banner-righttward {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: none;
}

.banner .banner-cards {
  z-index: 999;
}

.banner .banner-bluepet {
  margin-left: -16rem;
}

.banner-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: -15%;
  width: 30%;
  height: 60%;
  z-index: 999;
}

.banner-text span {
  color: #ffffff;
  font-family: Radiance;
  font-size: 6.7rem;
  font-weight: 700;
}

.banner-text span:nth-child(2) {
  color: #f31738;
}

.banner-text p {
  color: #898a8a;
  font-size: 2rem;
  font-weight: 300;
}

.banner-text a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ff0100;
  color: white;
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem 2rem;
}

.banner-text a img {
  margin-left: 10px;
}

.control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 25px;
}

.control div {
  margin: 0 1rem;
  cursor: pointer;
}

.control img {
  margin: 0 1rem;
  cursor: pointer;
}

.control-dot {
  border-radius: 100%;
  border: 2px solid #798083;
  width: 1.3rem;
  height: 1.3rem;
}

.on {
  background-color: #ff0100;
  border: 2px solid #ff0100;
}

.featured {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1197px;
  height: 35.8rem;
  margin-top: -20rem;
}

.news-separator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news-separator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2.2rem;
}

.news-separator span {
  width: 120px;
  height: 1px;
  background-color: #727f87;
  border: none;
}

.news-separator a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 1.9rem;
  font-size: 1.4rem;
  font-family: "Radiance";
  border-radius: 0.2rem;
  height: 2.4rem;
  width: 5.2rem;
  color: white;
  background-color: #f31738;
}

.mainbody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 1197px;
}

.news {
  width: 65.5%;
  font-family: "Radiance";
}

.news-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.top-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 35.6rem;
  margin-left: 2.2rem;
}

.top-text span {
  margin-bottom: 1rem;
}

.top-text p {
  margin: 0;
}

.top-text .top-text-date {
  font-size: 1.4rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #f31738;
}

.top-text .top-text-title {
  font-size: 3.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.top-text .top-text-intro {
  font-size: 18px;
  color: #898989;
}

.card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.news-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 379px;
  margin-top: 39px;
  font-family: "Radiance";
}

.news-card span {
  margin-top: 20px;
  color: #feffff;
  font-size: 3rem;
}

.news-card p {
  margin-top: 10px;
  color: #898989;
  font-size: 2rem;
}

.widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 30%;
}

.widget-tweets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  width: 383px;
  height: 242px;
  -webkit-box-shadow: 0 0 0 2px #242424;
          box-shadow: 0 0 0 2px #242424;
  border-radius: 4px;
}

.tweets-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  height: 60px;
  border-bottom: 2px solid #242424;
}

.tweets-title span:nth-child(1) {
  color: #fffefe;
  font-family: "Radiance";
  font-size: 2.6rem;
}

.tweets-title span:nth-child(2) {
  color: #1379c1;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
}

.tweets-title span:nth-child(2) img {
  margin-right: 11px;
}

.tweets-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 90%;
  margin-top: 15px;
}

.tweets-content div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tweets-content div img {
  margin-right: 16px;
}

.tweets-content div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #ffffff;
  font-family: Roboto;
  font-size: 2rem;
  font-weight: 300;
}

.tweets-content div span {
  color: #464f59;
  font-size: 1.6rem;
}

.tweets-content .tweets-text {
  color: #898989;
  font-family: Radiance;
  font-size: 18px;
  font-weight: 300;
  margin-top: 19px;
}

.tweets-content .tweets-to {
  color: #ffffff;
  font-family: Radiance;
  font-size: 16px;
  margin-top: 19px;
}

.widget-prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Radiance;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 384px;
  height: 637px;
  border-radius: 10px;
  background-image: url("./assets/widget_prices_bg.png");
  margin-top: 35px;
}

.widget-prices h3 {
  width: 90%;
  color: #fffefe;
  font-size: 26px;
  font-weight: 300;
  text-transform: uppercase;
}

.prices-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 90%;
  border-bottom: 2px solid #242424;
  margin-bottom: 16px;
  padding-bottom: 16px;
}

.prices-card .card-priceinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.prices-card .steam-price,
.prices-card .pa-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 5px 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.prices-card .card-title {
  color: #848585;
  font-size: 20px;
  font-weight: 300;
  margin: 0 0 10px 10px;
}

.prices-card .price-number {
  color: #848585;
  font-size: 16px;
  font-weight: 300;
}

.prices-card .price-change {
  font-size: 16px;
  font-weight: 300;
  color: #f31738;
}

.prices-card .price-link {
  font-size: 16px;
  font-weight: 300;
  color: #fffefe;
}

.prices-border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
  width: 257px;
  height: 57px;
  -webkit-box-shadow: inset 0 0 0 1px #013799;
          box-shadow: inset 0 0 0 1px #013799;
  color: #ffffff;
  font-family: Radiance;
  font-size: 19px;
  font-weight: 300;
  line-height: 33.82px;
  text-transform: uppercase;
  cursor: pointer;
}

.prices-border img {
  margin-left: 10px;
}

.prices-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #002bf3;
  width: 100%;
  height: 100%;
  margin: -20px 0 0 -20px;
}

.comingsoon img {
  margin-top: 25px;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  max-width: 1920px;
  height: 273px;
  background-image: url("./assets/search_bg.png");
  border-bottom: 1px solid #f31738;
}

.search input {
  margin-bottom: 55px;
  width: 695px;
  height: 58px;
  color: #ffffff;
  padding: 0px 20px;
  font-family: Radiance;
  font-size: 1.8rem;
  border: none;
  border-radius: 6px 0 0 6px;
  background-color: rgba(255, 255, 255, 0.25);
}

.search input:focus {
  outline-color: transparent;
  outline-style: none;
}

::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 0.5;
}

:-ms-input-placeholder {
  color: #ffffff;
  opacity: 0.5;
}

::-ms-input-placeholder {
  color: #ffffff;
  opacity: 0.5;
}

::placeholder {
  color: #ffffff;
  opacity: 0.5;
}

.search button {
  margin-bottom: 55px;
  width: 113px;
  height: 58px;
  border-radius: 0 6px 6px 0;
  background-color: #000000;
  cursor: pointer;
  border: none;
  color: #fffefe;
  font-family: Radiance;
  font-size: 18px;
}

.search button:hover {
  background-color: #141414;
}

.search button:focus {
  outline-style: none;
  outline-color: transparent;
}

.footer {
  background-color: #0e0e0e;
  width: 100%;
  height: 307px;
}

.sitemap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  font-family: Radiance;
  height: 239px;
}

.sitemap-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 40px;
  height: 100%;
}

.sitemap-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 42px 52px 0 52px;
}

.sitemap-list ul {
  padding: 0;
  margin: 0;
}

.sitemap-list ul li {
  list-style-type: none;
  color: #545454;
  font-size: 1.6rem;
  margin-bottom: 10px;
}

.list-title {
  font-size: 2rem;
  color: #8e8e8e;
  margin-bottom: 25px;
}

.sitemap-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  margin: 0 84px;
}

.sitemap-social img:nth-child(1) {
  margin-bottom: 26px;
}

.sitemap-social img:nth-child(2) {
  width: 153px;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 68px;
  background-color: #000000;
  color: #444444;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
}
/*# sourceMappingURL=main.css.map */