// !cards library SCSS
// * default confirgurition of css for index page
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.woff2") format("woff2"),
    url("../assets/fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Radiance";
  src: url("../assets/fonts/Radiance-Semibold.woff2") format("woff2"),
    url("../assets/fonts/Radiance-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Radiance";
  src: url("../assets/fonts/Radiance.woff2") format("woff2"),
    url("../assets/fonts/Radiance.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Radiance";
  src: url("../assets/fonts/Radiance-Bold.woff2") format("woff2"),
    url("../assets/fonts/Radiance-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Radiance";
  src: url("../assets/fonts/Radiance-Light.woff2") format("woff2"),
    url("../assets/fonts/Radiance-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("Nunito.woff2") format("woff2"), url("Nunito.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@mixin flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
a:link,
a:visited,
a:hover,
a:active {
  color: #ffffff;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  width: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  font-family: "Roboto";
  overflow-y: scroll;
}

.container {
  @include flex-column();
  justify-content: flex-start;
  width: 100%;
  background: url("../assets/background_pattern.png") no-repeat center;
}

// * header
.header {
  @include flex-row();
  justify-content: flex-start;
  width: 100%;
  height: 78px;
  background-color: #000000;
}
.socialmedia {
  width: 310px;
  height: 78px;
  background: url("../assets/socialmedia_icons.png") no-repeat center;
}

.socialmedia-shrink {
  position: fixed;
  height: 50px;
  left: 0;
  top: 0;
  z-index: 3;
}
.logo {
  @include flex-row();
  flex-grow: 2;
  justify-content: center;
  height: 100%;
  background: url("../assets/logo.png") no-repeat center;
  a {
    width: 243px;
    height: 35px;
  }
}

.login {
  @include flex-row();
  justify-content: center;
  font-family: "Radiance";
  height: 100%;
  width: 310px;
  user-select: none;
  color: #bfbfbf;
  font-size: 1.8rem;
  background: url("../assets/steam_logo.png") no-repeat 20px;
  border-left: 1px solid #141414;
  span:nth-child(2) {
    color: #fffefe;
    font-weight: 700;
  }
}
.login:hover {
  background-color: #141414;
  cursor: pointer;
}
.login-shrink {
  height: 50px;
  border: none;
  position: fixed;
  right: -50px;
  top: 0px;
  z-index: 3;
}

// * navbar
.navbar {
  @include flex-row();
  justify-content: center;
  width: 100%;
  height: 66px;
  transition: all 0.3s ease-in-out;
  background-color: #f31738;
  box-shadow: 0px 5px 5px #1a0307;
}
.navbar-shrink {
  position: fixed;
  height: 50px;
  z-index: 2;
  background-color: #000000;
  border-bottom: 2px solid#f31738;
}
.navbar-wrapper {
  @include flex-row();
  justify-content: center;
  min-width: 62.5%;
  height: 100%;
  span {
    width: 100px;
    background: url("../assets/downward_arrow.png") no-repeat right center;
  }
}
.homebtn {
  @include flex-column();
  justify-content: center;
  width: 66px;
  height: 99%;
  background-color: #ffffff;
  margin-right: -66px;
  margin-top: -2.5px;
  z-index: 1;
  a {
    width: 100%;
    height: 100%;
    background: url("../assets/homebtn.png") no-repeat center;
  }
}

.title {
  @include flex-row();
  justify-content: space-around;
  width: 70%;
  height: 100%;
  font-family: "Radiance";
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: #ffffff;
  span {
    cursor: pointer;
  }
  a {
    display: none;
    width: 300px;
    height: 100%;
    background: url("../assets/logo.png") no-repeat center;
  }
}

// *breadcrumb
.breadcrumb {
  @include flex-row();
  width: 1197px;
  margin-top: 19px;
  color: #878787;
  a:link,
  a:visited,
  a:hover,
  a:active {
    color: #878787;
    text-decoration: none;
    font-size: 1.6rem;
  }
}
.body-wrapper {
  @include flex-column();
  background: url("../assets/slider_background.png") no-repeat;
  width: 100%;
}
// *main body
.mainbody {
  @include flex-column();
  justify-content: flex-start;
  width: 1197px;
  margin-top: 27px;
}

// *page title
.page-title {
  @include flex-row();
  justify-content: flex-start;
  width: 100%;
  h2 {
    margin: 0;
    color: #ffffff;
    font-family: Radiance;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
  }
}
.logo-svg {
  fill: blue;
}
.logo-svg:hover {
  fill: red;
}
// *filters
.card-filters {
  @include flex-column();
  width: 100%;
  margin-top: 35px;
}
.filters-buttons {
  @include flex-row();
  width: 100%;
}
// *filter types
.filters-type {
  @include flex-row();
  justify-content: space-between;
  width: 60%;
}
.type-card {
  @include flex-column();
  justify-content: space-between;
  width: 72px;
  height: 98px;
}
.type-icon {
  width: 100%;
  height: 72px;
  border-radius: 3px;
  cursor: pointer;
}
.type-icon:hover {
  background-color: #f31738;
}
.corner-mark {
  @include flex-row();
  position: relative;
  top: -5px;
  left: 55px;
  justify-content: center;
  width: 26px;
  height: 16px;
  color: #f31738;
  font-family: Radiance;
  font-size: 1.2rem;
  background: #ffffff;
  border-radius: 2px;
}
.type-name {
  color: #ffffff;
  font-family: Radiance;
  font-size: 1.6rem;
  font-weight: 300;
  text-transform: uppercase;
}
.viewall {
  background: url("../assets/cards/btn_viewall.png") no-repeat center;
}
.heroes {
  background: url("../assets/cards/btn-heroes.png") no-repeat center;
}
.spells {
  background: url("../assets/cards/btn-spells.png") no-repeat center;
}
.items {
  background: url("../assets/cards/btn-items.png") no-repeat center;
}
.creeps {
  background: url("../assets/cards/btn-creeps.png") no-repeat center;
}
.improve {
  background: url("../assets/cards/btn-improve.png") no-repeat center;
}
.filter-seprartor {
  width: 1px;
  height: 80px;
  background: #545454;
}

// *rarity color
.rarity-color-wrapper {
  @include flex-row();
  justify-content: space-around;
  width: 40%;
  padding-left: 20px;
}
//*filter rarity
.filters-rarity,
.filters-color {
  @include flex-column();
  width: 40%;
  height: 98px;
  justify-content: flex-start;
  align-items: flex-start;
}
.filter-title {
  color: #ffffff;
  font-family: Radiance;
  margin-bottom: 10px;
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
}
.rarity-btns,
.color-btns {
  @include flex-row();
  width: 100%;
  height: 52px;
  justify-content: space-between;
}
.btn-rarity,
.btn-color {
  @include flex-column();
  justify-content: flex-end;
  width: 31px;
  height: 52px;
  cursor: pointer;
  // filter: brightness(0.7);
  transition: all 0.2s ease-in-out;
  span {
    color: #6b6b6b;
    font-size: 1.2rem;
    font-weight: 300;
  }
}
.btn-rarity:hover,
.btn-color:hover {
  filter: brightness(1.1) contrast(1.1);
}

.rare {
  background: url("../assets/cards/btn_rare.png") no-repeat top;
}
.common {
  background: url("../assets/cards/btn_common.png") no-repeat top;
}
.uncommon {
  background: url("../assets/cards/btn_uncommon.png") no-repeat top;
}
.epic {
  background: url("../assets/cards/btn_epic.png") no-repeat top;
}
.green {
  background: url("../assets/cards/btn_green.png") no-repeat top;
}
.red {
  background: url("../assets/cards/btn_red.png") no-repeat top;
}
.grey {
  background: url("../assets/cards/btn_grey.png") no-repeat top;
}
.blue {
  background: url("../assets/cards/btn_blue.png") no-repeat top;
}

// *slider-search-wrapper
.slider-search-wrapper {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #545454;
}

// *sort by and views
.sortby-view-wrapper {
  @include flex-row();
  justify-content: space-around;
  width: 320px;
}
.sortby {
  background: url("../assets/cards/sortby_arrowdown.png") no-repeat right;
  padding-right: 10px;
}
.sortby-dropdown {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: transparent;
  border: none; // Style for "All News"
  color: #f31738;
  font-family: Radiance;
  font-size: 1.6rem;
  padding: 5px 10px;
}
.sortby-dropdown:focus {
  outline: none;
}

.sortby-text {
  font-size: 1.6rem;
  font-weight: 300;
}

.views {
  @include flex-row();
  justify-content: space-around;
  width: 100px;
  color: #ffffff;
  font-family: Radiance;
  font-size: 1.6rem;
  font-weight: 300;
}

.view-pic {
  width: 12px;
  height: 12px;
  background: url("../assets/cards/view_pic.png") no-repeat center;
}
.view-list {
  width: 12px;
  height: 12px;
  background: url("../assets/cards/view_list.png") no-repeat center;
}
// *card list
.card-list {
  @include flex-column();
  justify-content: flex-start;
  width: 100%;
  height: 1000px;
  margin-top: 26px;
}
.list-header {
  @include flex-row();
  width: 100%;
  justify-content: space-between;
}
.header-title {
  @include flex-row();
  width: 216px;
  height: 23px;
  color: #ffffff;
  font-family: Radiance;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 30px;
  span:nth-child(2) {
    color: #6b6b6b;
  }
}

// *card list wrapper
.list-wrapper {
  @include flex-row();
  width: 100%;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 40px;
}
.clear {
  @include flex-row();
  width: 1192px;
  height: 100px;
  font-size: 2rem;
}

// *card slot in image view
.card-slot-image {
  @include flex-column();
  margin-right: 20px;
}
.card-image {
  position: absolute;
  transition: all 0.3s ease-in-out;
  z-index: 9999999;
  cursor: pointer;
}
.card-image:hover {
  transform: scale(-1, 1);
  opacity: 0;
}

.slot-price {
  @include flex-row();
  justify-content: space-between;
  background-image: url("../assets/steam_logo.png");
  background-size: 22px 17px;
  background-repeat: no-repeat;
  background-position: 1px 5px;
  width: 100%;
  height: 35px;
  font-size: 1.6rem;
  span:nth-child(1) {
    margin-left: 25px;
  }
}
.slot-back {
  position: relative;
  top: 0;
  left: 0;
  @include flex-column();
  justify-content: space-around;
  box-sizing: border-box;
  width: 182px;
  height: 278px;
  border: 10px solid #2a2a2a;
  border-radius: 6px;
  background: url("../assets/cards/card_loading.png") no-repeat center;
}
.slot-back-mask {
  @include flex-column();
  justify-content: space-around;
  width: 100%;
  height: 100%;
  background-color: rgba(42, 42, 42, 0.83);
}

.back-title {
  @include flex-row();
  justify-content: center;
  font-family: Nunito;
  flex-wrap: wrap;
  font-size: 1.4rem;
  font-weight: 400;
  img {
    margin-right: 5px;
  }
  p {
    margin: 0;
  }
}
.back-ability {
  @include flex-column();
  justify-content: center;
  font-family: Roboto;
  font-weight: 300;
  font-size: 1.2rem;
  color: #898989;
  p {
    text-align: center;
    margin: 0;
  }
  p:nth-child(2) {
    margin-top: 12px;
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: bold;
  }
  p:nth-child(3) {
    font-size: 1.4rem;
    margin-bottom: 10px;
  }
}
.back-stats {
  @include flex-row();
  justify-content: center;
  width: 80%;
  background: url("../assets/cards/back_stat.png") no-repeat center;
  padding-left: 20%;
  span {
    width: 30%;
  }
}
.back-detail-btn {
  @include flex-row();
  justify-content: center;
  width: 152px;
  height: 28px;
  border-radius: 3px;
  background-color: #013799;
  color: #ffffff;
  font-family: Radiance;
  font-size: 1.3rem;
  font-weight: 300;
  background-image: url("../assets/cards/detail_arrow.png");
  background-repeat: no-repeat;
  background-position: 120px;
}

.slot-loading-text {
  @include flex-row();
  justify-content: center;
  width: 100%;
  height: 35px;
  font-size: 1.6rem;
}

// *card slot in list view
.card-slot-list {
  @include flex-column();
  justify-content: space-around;
}
.card-row {
  @include flex-row();
  justify-content: space-between;
  box-sizing: border-box;
  width: 1200px;
  height: 58px;
  border-radius: 3px;
  border-bottom: 3px solid #294a67;
  background-color: #1b1e1f;
  margin-bottom: 17px;
  cursor: pointer;
}
.card-row:hover {
  background-color: #2a2a2a;
}

.row-title-rarity {
  @include flex-row();
  justify-content: space-between;
  width: 50%;
  height: 100%;
  .front-wrapper {
    @include flex-row();
    justify-content: space-around;
    width: 30%;
  }
  .back-wrapper {
    @include flex-row();
    flex-grow: 2;
    justify-content: space-between;
    padding-right: 10px;
  }
  span {
    color: #fefefe;
    font-family: Nunito;
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.row-stats-price {
  @include flex-row();
  justify-content: space-between;
  width: 50%;
  height: 100%;
}

.row-stats {
  @include flex-row();
  justify-content: space-around;
  width: 50%;
  color: #fffefe;
  font-family: Nunito;
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: uppercase;
  span {
    @include flex-row();
    justify-content: flex-end;
    width: 20%;
    height: 100%;
  }
  span:nth-child(1) {
    background: url("../assets/cards/stats_atk.png") no-repeat left;
  }
  span:nth-child(2) {
    background: url("../assets/cards/stats_armor.png") no-repeat left;
  }
  span:nth-child(3) {
    background: url("../assets/cards/stats_hp.png") no-repeat left;
  }
}
.row-price {
  @include flex-row();
  justify-content: flex-end;
  margin-left: 15%;
  width: 50%;
  color: #6b6b6b;
  font-family: Nunito;
  font-size: 1.8rem;
  font-weight: 400;
  background: url("../assets/steam_logo.png") no-repeat;
  background-position: 35px 0px;
  background-size: 27px 21px;
  span:nth-child(2) {
    color: #fefefe;
    margin-right: 30px;
  }
}

// *bottom news search bar
.search {
  @include flex-row();
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  max-width: 1920px;
  height: 273px;
  background-image: url("../assets/search_bg.png");
  border-bottom: 1px solid #f31738;
}

.search input {
  margin-bottom: 55px;
  width: 695px;
  height: 58px;
  color: #ffffff;
  padding: 0px 20px;
  font-family: Radiance;
  font-size: 1.8rem;
  border: none;
  border-radius: 6px 0 0 6px;
  background-color: rgba(#ffffff, 0.25);
}
.search input:focus {
  outline-color: transparent;
  outline-style: none;
}
::placeholder {
  color: #ffffff;
  opacity: 0.5;
}
.search button {
  margin-bottom: 55px;
  width: 113px;
  height: 58px;
  border-radius: 0 6px 6px 0;
  background-color: #000000;
  cursor: pointer;
  border: none;
  color: #fffefe;
  font-family: Radiance;
  font-size: 18px;
}
.search button:hover {
  background-color: #141414;
}
.search button:focus {
  outline-style: none;
  outline-color: transparent;
}
// *footer
.footer {
  background-color: #0e0e0e;
  width: 100%;
  height: 307px;
}

.sitemap {
  @include flex-row();
  justify-content: center;
  align-items: center;
  font-family: Radiance;
  height: 239px;
}
.sitemap-wrapper {
  @include flex-row();
  justify-content: center;
  margin-left: 40px;
  height: 100%;
}
.sitemap-list {
  @include flex-column();
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 42px 52px 0 52px;
  ul {
    padding: 0;
    margin: 0;
    li {
      list-style-type: none;
      color: #545454;
      font-size: 1.6rem;
      margin-bottom: 10px;
    }
  }
}
.list-title {
  font-size: 2rem;
  color: #8e8e8e;
  margin-bottom: 25px;
}

.sitemap-social {
  @include flex-column();
  justify-content: center;
  height: 100%;
  margin: 0 84px;
  img:nth-child(1) {
    margin-bottom: 26px;
  }
  img:nth-child(2) {
    width: 153px;
  }
}
.copyright {
  @include flex-row();
  justify-content: center;
  width: 100%;
  height: 68px;
  background-color: #000000;
  color: #444444;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
}
